{% extends "base/base.html" %}
{% block title %} Homepage {% endblock%}
{% block content %}
    <div class="container">
        <div class="row gy-3">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <img class="thumbnail" src =" {{ product.imageURL }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <hr>
                        <a data-product= {{product.id}} data-action= 'add' class="btn btn-primary add-btn update-cart">Add to Cart</a>
                        <a href="#" class="btn btn-primary">View</a>
                        <h4 style="display: inline-block; float:right;">${{ product.price|floatformat:2 }}</h4>
                    </div>
                </div> 
            </div>
            {% endfor %}
        </div>
    </div>

   
{% endblock %}
